Tomas Gustavsson comments

 1. A question.
3.1 is a (slight) rewrite of RFC9773 section 4.1. Is copying other RFC information the recommended way or is it better to reference the other RFC?

2. Bike shedding
I'm not a real fan of the section 4.1 statement:
"Clients SHOULD fetch a certificate's RenewalInfo immediately after issuance."
I know it's also a copy of RFC9773 section 4.3. Technically "issuance" is something that happens on the CA, and definitaly before the client has deemed the certificate valid for use. I know it's knitpicking, but ther'es no reason to load the server with renewal information requests if the certificate willbe discarded by the client anyhow.


3. Not-supported
What will be the answer if the server does not support renewal information? Looks like a HTTP 404?